@page "/"
@using System.ComponentModel.DataAnnotations
@using PointingParty.Client.Components
@inject NavigationManager NavManager

<PageTitle>Pointing Party</PageTitle>

<div class="max-w-5xl mx-auto px-4 xl:px-0 pt-24 lg:pt-32 pb-24">
    <h1 class="font-semibold dark:text-white text-5xl md:text-6xl">
        Hassle-free Story Estimation<br/>for Agile Teams
    </h1>
    <div class="max-w-4xl">
        <p class="mt-5 text-neutral-400 text-lg">
            Start a game and share the link. No registration required!
        </p>
    </div>
</div>

<div class="mt-4 mb-2">
    <EditForm Model="Model" OnValidSubmit="StartGame" FormName="NewGame">
        <DataAnnotationsValidator></DataAnnotationsValidator>
        <div class="my-2">
            <label>
                <span class="text-xs font-medium text-gray-500 uppercase">
                    Game name:
                </span>
                <InputText @bind-Value="Model.GameId" type="text" placeholder="My Pointing Party" class="py-3 px-4 block w-full border-gray-200 rounded-md text-sm focus:border-blue-500 focus:ring-blue-500 dark:bg-neutral-900 dark:border-gray-700 dark:text-gray-400"/>
            </label>
        </div>
        <div class="my-2">
            <label>
                <span class="text-xs font-medium text-gray-500 uppercase">
                    Your name:
                </span>
                <InputText @bind-Value="Model.PlayerName" type="text" placeholder="Player Name" class="py-3 px-4 block w-full border-gray-200 rounded-md text-sm focus:border-blue-500 focus:ring-blue-500 dark:bg-neutral-900 dark:border-gray-700 dark:text-gray-400"/>
            </label>
        </div>
        <div class="my-2 text-center md:text-left">
            <FatButton type="submit">Start game</FatButton>
        </div>
    </EditForm>
</div>

<p class="mt-4 mb-2">
    Alternatively, join the one of the demo games:
    <a href="/Game/Demo%20One">'Demo One'</a> or
    <a href="/Game/Demo%20Two">'Demo Two'</a>.
</p>

@code {

    class NewGameModel
    {
        [Required]
        public string? GameId { get; set; }

        public string? PlayerName { get; set; }
    }

    [SupplyParameterFromForm]
    NewGameModel Model { get; set; } = new();

    private void StartGame()
    {
        if (string.IsNullOrWhiteSpace(Model.PlayerName))
        {
            NavManager.NavigateTo($"/Game/{Model.GameId}", true);
        }
        else
        {
            NavManager.NavigateTo($"/Game/{Model.GameId}?PlayerName={Model.PlayerName}", true);
        }
    }

}
