@inherits LayoutComponentBase

<main class="text-gray-800 dark:text-white">
    <article class="container mx-auto px-4">
        <div class="float-right text-xs uppercase font-medium leading-7"><a href="/" class="text-gray-800 dark:text-gray-400">Home</a></div>
        @Body
    </article>
</main>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
