<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
    <base href="/"/>
    <ResourcePreloader />
    <link rel="stylesheet" href="@Assets["app.min.css"]" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" type="image/png" href="/favicon.png" sizes="48x48" />
    <ImportMap />
    <link rel="shortcut icon" href="/favicon.ico" sizes="any">

    <HeadOutlet/>
</head>

<body class="dark:bg-neutral-900">
<Routes/>
<script src="@Assets["_framework/blazor.web.js"]"></script>
</body>

</html>
