<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <base href="/" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="PointingParty.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <script src="https://cdn.tailwindcss.com"></script>

    <HeadOutlet />
</head>

<body class="bg-gray-50 dark:bg-gray-800">
<Routes />
<script src="_framework/blazor.web.js"></script>
<script src="/app.js"></script>
</body>

</html>
