@page "/"

<PageTitle>Pointing Party</PageTitle>

<h2 class="text-xl my-2">Welcome to Pointing Party!</h2>

<p>
    <a href="/Game/Foo">Enter game 'Foo'</a>
</p>
<p>
    <a href="/Game/Bar">Enter game 'Bar'</a>
</p>


@code {

}